%section#events
  %h2 There are no events listed at this time.

  %section.upcoming
    %header
      %h2 Upcoming Events
    %ul
      - Event.upcoming_events do |event|
        %li.event= event.display

  %section.current
    %header
      %h2 Current Events
    %ul
      - Event.current_events do |event|
        %li.event= event.display

  %section.past
    %header
      %h2 Past Events
    %ul
      - Event.past_events do |event|
        %li.event= event.display
